server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/boopdb
    username: boop
    password: secret
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
